<a href="https://colab.research.google.com/github/Diegorh1/MelIA2025/blob/main/CalculoISRbyDiegoRodriguezHernandez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#By Diego Rodriguez Hernandez
El objetivo de está actividad es crear un data frame en pandas para almacenar a 10 empleados durante un año. Utilizando una estructura de control.

Considere salarios entre 18,837.38 y 38 775.38
Ejemplo:
Si ganas $20,000 MXN al mes:

* Tu ingreso cae entre 18,837.38 y 38,775.38.

* Límite inferior: $18,837.38

* Excedente: $20,000 - $18,837.38 = $1,162.62

* Porcentaje: 23.52%

* ISR = (0.2352 × $1,162.62) ≈ $ esa multiplicacion

##Librerias usadas

In [ ]:
import pandas as pd
import numpy as np

##Creación del dataframe

In [ ]:
directorio = [{"name":"diego","dirección":"chamilpa,Morelos","telefono":7772133925,"enero":1,"febrero":2,"marzo":3,"abril":4,"mayo":5,"junio":6,"julio":7,"agosto":8,"septiembre":9,"octubre":10,"noviembre":11,"diciembre":12}]
employees = pd.DataFrame(directorio,columns=["name","dirección","telefono","enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"])
print(employees)

    name         dirección    telefono  enero  febrero  marzo  abril  mayo  \
0  diego  chamilpa,Morelos  7772133925      1        2      3      4     5

   junio  julio  agosto  septiembre  octubre  noviembre  diciembre
0      6      7       8           9       10         11         12

#CSV A OCUPAR
```
ID,Nombre,Direccion,Telefono,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
1,Diego Rodriguez,Chamilpa Morelos,7772133925,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38

```

##Creación

In [ ]:
df = pd.read_csv('employees.csv')
df.head()

,ID,Nombre,Direccion,Telefono,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,ISRMes,ISRAnual
0,1,Diego Rodriguez,Chamilpa Morelos,7772133925,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,0.00,0.00
1,2,Ana Morales,Centro Cuernavaca,7771112233,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,1529.53,18354.36
2,3,Luis Herrera,Jiutepec Centro,7772223344,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,2129.18,25550.16
3,4,María López,Tepoztlán Centro,7773334455,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,2907.75,34893.00
4,5,José Martínez,Tetela del Monte,7774445566,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,273.45,3281.40

##Agregar los nueve registros faltantes

In [ ]:
#Agregar nuevos registros
# Registro 2
df = df._append({"ID": 2,"Nombre": "Ana Morales","Direccion": "Centro Cuernavaca","Telefono": "7771112233",
    "Enero": 25340.50, "Febrero": 25340.50, "Marzo": 25340.50, "Abril": 25340.50,
    "Mayo": 25340.50, "Junio": 25340.50, "Julio": 25340.50, "Agosto": 25340.50,
    "Septiembre": 25340.50, "Octubre": 25340.50, "Noviembre": 25340.50, "Diciembre": 25340.50
}, ignore_index=True)

# Registro 3
df = df._append({"ID": 3,"Nombre": "Luis Herrera","Direccion": "Jiutepec Centro","Telefono": "7772223344",
    "Enero": 27890.00, "Febrero": 27890.00, "Marzo": 27890.00, "Abril": 27890.00,
    "Mayo": 27890.00, "Junio": 27890.00, "Julio": 27890.00, "Agosto": 27890.00,
    "Septiembre": 27890.00, "Octubre": 27890.00, "Noviembre": 27890.00, "Diciembre": 27890.00
}, ignore_index=True)

# Registro 4
df = df._append({"ID": 4,"Nombre": "María López","Direccion": "Tepoztlán Centro","Telefono": "7773334455",
    "Enero": 31200.25, "Febrero": 31200.25, "Marzo": 31200.25, "Abril": 31200.25,
    "Mayo": 31200.25, "Junio": 31200.25, "Julio": 31200.25, "Agosto": 31200.25,
    "Septiembre": 31200.25, "Octubre": 31200.25, "Noviembre": 31200.25, "Diciembre": 31200.25
}, ignore_index=True)

# Registro 5
df = df._append({"ID": 5,"Nombre": "José Martínez","Direccion": "Tetela del Monte","Telefono": "7774445566",
    "Enero": 20000.00, "Febrero": 20000.00, "Marzo": 20000.00, "Abril": 20000.00,
    "Mayo": 20000.00, "Junio": 20000.00, "Julio": 20000.00, "Agosto": 20000.00,
    "Septiembre": 20000.00, "Octubre": 20000.00, "Noviembre": 20000.00, "Diciembre": 20000.00
}, ignore_index=True)

# Registro 6
df = df._append({ "ID": 6,"Nombre": "Claudia Ramírez","Direccion": "Ocotepec","Telefono": "7775556677",
    "Enero": 38775.38, "Febrero": 38775.38, "Marzo": 38775.38, "Abril": 38775.38,
    "Mayo": 38775.38, "Junio": 38775.38, "Julio": 38775.38, "Agosto": 38775.38,
    "Septiembre": 38775.38, "Octubre": 38775.38, "Noviembre": 38775.38, "Diciembre": 38775.38
}, ignore_index=True)

# Registro 7
df = df._append({"ID": 7,"Nombre": "Carlos Pérez","Direccion": "Acapantzingo","Telefono": "7776667788",
    "Enero": 22750.75, "Febrero": 22750.75, "Marzo": 22750.75, "Abril": 22750.75,
    "Mayo": 22750.75, "Junio": 22750.75, "Julio": 22750.75, "Agosto": 22750.75,
    "Septiembre": 22750.75, "Octubre": 22750.75, "Noviembre": 22750.75, "Diciembre": 22750.75
}, ignore_index=True)

# Registro 8
df = df._append({"ID": 8,"Nombre": "Laura Gómez","Direccion": "Lomas de Cortés","Telefono": "7777778899",
    "Enero": 34210.60, "Febrero": 34210.60, "Marzo": 34210.60, "Abril": 34210.60,
    "Mayo": 34210.60, "Junio": 34210.60, "Julio": 34210.60, "Agosto": 34210.60,
    "Septiembre": 34210.60, "Octubre": 34210.60, "Noviembre": 34210.60, "Diciembre": 34210.60
}, ignore_index=True)

# Registro 9
df = df._append({"ID": 9,"Nombre": "Raúl Torres","Direccion": "Lagunitas","Telefono": "7778889900",
    "Enero": 19600.45, "Febrero": 19600.45, "Marzo": 19600.45, "Abril": 19600.45,
    "Mayo": 19600.45, "Junio": 19600.45, "Julio": 19600.45, "Agosto": 19600.45,
    "Septiembre": 19600.45, "Octubre": 19600.45, "Noviembre": 19600.45, "Diciembre": 19600.45
}, ignore_index=True)

# Registro 10
df = df._append({"ID": 10,"Nombre": "Elena Salgado","Direccion": "Delicias","Telefono": "7779990011",
    "Enero": 37000.00, "Febrero": 37000.00, "Marzo": 37000.00, "Abril": 37000.00,
    "Mayo": 37000.00, "Junio": 37000.00, "Julio": 37000.00, "Agosto": 37000.00,
    "Septiembre": 37000.00, "Octubre": 37000.00, "Noviembre": 37000.00, "Diciembre": 37000.00
}, ignore_index=True)

df.head(10)

,ID,Nombre,Direccion,Telefono,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,ISRMes,ISRAnual
0,1,Diego Rodriguez,Chamilpa Morelos,7772133925,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,18837.38,0.00,0.00
1,2,Ana Morales,Centro Cuernavaca,7771112233,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,25340.50,1529.53,18354.36
2,3,Luis Herrera,Jiutepec Centro,7772223344,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,27890.00,2129.18,25550.16
3,4,María López,Tepoztlán Centro,7773334455,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,31200.25,2907.75,34893.00
4,5,José Martínez,Tetela del Monte,7774445566,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,273.45,3281.40
5,6,Claudia Ramírez,Ocotepec,7775556677,38775.38,38775.38,38775.38,38775.38,38775.38,38775.38,38775.38,38775.38,38775.38,38775.38,38775.38,38775.38,4689.42,56273.04
6,7,Carlos Pérez,Acapantzingo,7776667788,22750.75,22750.75,22750.75,22750.75,22750.75,22750.75,22750.75,22750.75,22750.75,22750.75,22750.75,22750.75,920.42,11045.04
7,8,Laura Gómez,Lomas de Cortés,7777778899,34210.60,34210.60,34210.60,34210.60,34210.60,34210.60,34210.60,34210.60,34210.60,34210.60,34210.60,34210.60,3615.78,43389.36
8,9,Raúl Torres,Lagunitas,7778889900,19600.45,19600.45,19600.45,19600.45,19600.45,19600.45,19600.45,19600.45,19600.45,19600.45,19600.45,19600.45,179.47,2153.64
9,10,Elena Salgado,Delicias,7779990011,37000.00,37000.00,37000.00,37000.00,37000.00,37000.00,37000.00,37000.00,37000.00,37000.00,37000.00,37000.00,4271.85,51262.20

##Definimos el limite y el porcentaje ISR

In [ ]:
limiteInf = 18837.38
porc = 0.2352

In [ ]:
##Función de calcular el ISR mensual
def calISRmensual(sueldo):
    exc = sueldo - limiteInf #calculamos el excedente
    ##estructura utilizada
    if exc > 0: #si el excedente es mayor a 0, hacemos el isr
       isr = exc * porc
    else: #de lo contrario el isr es 0
      isr = 0
    return round (isr,2) #redondeamos a 2 decimales

##calculamos el ISR MENSUAK
df["ISRMes"] = df["Enero"].apply(calISRmensual)

##calculamos el anual
df["ISRAnual"] = df["ISRMes"] * 12

##mostrar resultados

In [ ]:
print(df[["Nombre","Enero","ISRMes","ISRAnual"]])

             Nombre     Enero   ISRMes  ISRAnual
0   Diego Rodriguez  18837.38     0.00      0.00
1       Ana Morales  25340.50  1529.53  18354.36
2      Luis Herrera  27890.00  2129.18  25550.16
3       María López  31200.25  2907.75  34893.00
4     José Martínez  20000.00   273.45   3281.40
5   Claudia Ramírez  38775.38  4689.42  56273.04
6      Carlos Pérez  22750.75   920.42  11045.04
7       Laura Gómez  34210.60  3615.78  43389.36
8       Raúl Torres  19600.45   179.47   2153.64
9     Elena Salgado  37000.00  4271.85  51262.20
10      Ana Morales  25340.50  1529.53  18354.36
11     Luis Herrera  27890.00  2129.18  25550.16
12      María López  31200.25  2907.75  34893.00
13    José Martínez  20000.00   273.45   3281.40
14  Claudia Ramírez  38775.38  4689.42  56273.04
15     Carlos Pérez  22750.75   920.42  11045.04
16      Laura Gómez  34210.60  3615.78  43389.36
17      Raúl Torres  19600.45   179.47   2153.64
18    Elena Salgado  37000.00  4271.85  51262.20

In [ ]:
df.to_csv("employees.csv", index=False)